.container ul{
    list-style: none !important;
    padding-left: 0 !important;
}
.update ul{
    margin:0 0 0 1rem !important;
    & li{
        text-align: start !important;
        list-style-type: decimal;
        &.done{
            text-decoration-line: line-through;
        }
    }
}